
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri, Arial, sans-serif;
}

body{
    background-color: rgb(13, 15, 45);
    font-family: "Poppins", sans-serif;
}

.navbar {
    background-color: rgb(13, 15, 45);
    color: white;
    position: fixed;
    padding: 40px 85px;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: 1px solid rgb(12, 10, 10);
}

.navbar span{
    color: aqua;
}

.navbar h1{
    position: relative;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    margin-left: 100px;
}
.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin-left: 35px;
}
.navbar a{
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: 0.3s;
    margin: 0 10px;
}

.navbar a:hover{
    color: aqua;
}

.navbar a.active{
    color: aqua;
}

.navbar a.active::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 100%;
    height: 2px;
    background-color: aqua;
    border-radius: 3px;
}